<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="basic-login">
          <%= simple_nested_form_for(@customer) do |f| %>
            <div class="form-group">
              <label for="name"><i class="icon-user"></i> <b>Name</b></label>
              <%= f.text_field :name, :class => 'form-control', :input_html => {:size => 50} %>
            </div>
            
            <div class="form-group">
              <label for="name"><i class="icon-user"></i> <b>Username</b></label>
              <%= f.text_field :username, :class => 'form-control', :input_html => {:size => 50} %>
            </div>
            
            <div class="form-group">
              <label for="name"><i class="icon-user"></i> <b>Dob</b></label>
              <%= f.text_field :dob, :class => 'form-control datepicker', :input_html => {:size => 50} %>
            </div>
            
            <div class="form-group">
              <label for="name"><i class="icon-user"></i> <b>Address Line1</b></label>
              <%= f.text_field :add1, :class => 'form-control', :input_html => {:size => 50} %>
            </div>
            
            <div class="form-group">
              <label for="name"><i class="icon-user"></i> <b>Address Line2</b></label>
              <%= f.text_field :add2, :class => 'form-control', :input_html => {:size => 50} %>
            </div>
            
            <div class="form-group">
              <label for="name"><i class="icon-user"></i> <b>City</b></label>
              <%= f.text_field :city, :class => 'form-control', :input_html => {:size => 50} %>
            </div>
            
            <div class="form-group">
              <label for="name"><i class="icon-user"></i> <b>State</b></label>
              <%= f.text_field :state, :class => 'form-control', :input_html => {:size => 50} %>
            </div>
            
            <div class="form-group">
              <label for="name"><i class="icon-user"></i> <b>Zip</b></label>
              <%= f.text_field :zip, :class => 'form-control', :input_html => {:size => 50} %>
            </div>
            
            <%= f.fields_for :user do |u| %>
              <div class='form-group'>
                <label for="name"><i class="icon-user"></i> <b>Email</b></label>
                <%= u.text_field :email, required: true, class: "form-control", label: "Email", :input_html => {:size => 50} %>
              </div>
              <div class='form-group'>
                <label for="name"><i class="icon-user"></i> <b>Password</b></label>
                <%= u.password_field :password, required: true, class: "form-control", label: "Password", :input_html => {:size => 50} %>
              </div>
              <div class='form-group'>
                <label for="name"><i class="icon-user"></i> <b>Password Confirmation</b></label>
                <%= u.password_field :password_confirmation, required: true, class: "form-control", label: "Password Confirmation", :input_html => {:size => 50} %>
              </div>
            <% end %>
            <div class="form-group">
              <button class="btn pull-right" type="submit">Sign Up</button>
              <div class="clearfix"></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
